.txt  {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
}
.center-cropped {
    object-fit: cover;
    height: 200px;
}

.card-header {
    display: block;
    margin: '';
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: rgba(0,0,0,.85);
}

.card-footer {
    padding: 1em;
    border: 1px solid #f1f1f1;
}                
